force-app/main/default/flows/Create_Edit_Action_Plan_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Prepare_Action_Plan_Template_Version</name>
        <label>Prepare Action Plan Template Version</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateVersion.Action_Plan_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateVersion.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateVersion.Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Action_Plan_Template_Version</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Action_Plan_Template_Version_1</name>
        <label>Prepare Action Plan Template Version</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateVersion.Action_Plan_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateVersion.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateVersion.Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Action_Plan_Template_Version_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_Plan_Template</name>
        <label>Action Plan Template</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Action_Plan_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Action_Plan_Template_Version</targetReference>
            </connector>
            <label>New Action Plan Template</label>
        </rules>
        <rules>
            <name>Edit_Action_Plan_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_Template_Version</targetReference>
            </connector>
            <label>Edit Action Plan Template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Template_Published</name>
        <label>Is Template Published</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>No_Version_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Plan_Template_Version</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Action_Plan_Template_Version_1</targetReference>
            </connector>
            <label>No Version Available</label>
        </rules>
        <rules>
            <name>Is_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Plan_Template_Version</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Action_Plan_Template_Version.Is_Action_Plan_Template_Editable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Draft</label>
        </rules>
        <rules>
            <name>Published</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Plan_Template_Version</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Action_Plan_Template_Version.Is_Action_Plan_Template_Editable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Published</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Create-Edit Action Plan Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create-Edit Action Plan Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Action_Plan_Template_Version</name>
        <label>Create New Action Plan Template Version</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>ActionPlanTemplateVersion</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Action_Plan_Template_Version_1</name>
        <label>Create New Action Plan Template Version</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputReference>ActionPlanTemplateVersion</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Action_Plan_Template_Version</name>
        <label>Get Action Plan Template Version</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Template_Published</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action_Plan_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Action_Plan_Template_Version__c</object>
        <sortField>Version__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Action_Plan_Template</targetReference>
        </connector>
        <object>Action_Plan_Template__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActionPlanTemplateVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Action_Plan_Template_Version__c</objectType>
    </variables>
</Flow>
